In [64]:
import pandas as pd
import numpy as np
import datetime

In [65]:
def get_data(nums):
    dfs=[]
    URL='http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt'
    for i in nums:    
        URLs=URL.format(i)
        dfs.append(pd.read_csv(URLs))
    return pd.concat(dfs)
nums=[160903,160910,160917]
turnstiles_df=get_data(nums)

In [66]:

# NYPD_Complaint_Data=pd.read_csv('https://data.cityofnewyork.us/api/views/5uac-w243/rows.csv?accessType=DOWNLOAD')
# NYPD_Complaint_Data=pd.concat(NYPD_Complaint_Data)

In [67]:
#     data=NYPD_Complaint_Data['STATION_NAME'].dropna()
#     station_list=data.tolist()
#     y=NYPD_Complaint_Data[y].STATION_NAME.groupby

In [68]:
# print(len(station_list))
# print(len(MTA_data_160903w.STATION))

In [69]:
# Stations_MTA_and_NYPD=[]
# Stations_MTA_and_NYPD1=[]

# for station in station_list:
#     stations=MTA_data_160903w[MTA_data_160903w.STATION== str(station)]
# #     print(stations)
# #     print("-----------------")
#     stations=stations.values.tolist()
#     Stations_MTA_and_NYPD.append(stations)
#     for liss in Stations_MTA_and_NYPD:
#         for lis in liss:
#             for j in lis:
#                 for i in station_list:
#                     if j==i:
#                         Stations_MTA_and_NYPD1.append(j)
# def check(Stations_MTA_and_NYPD1):
#     for i in Stations_MTA_and_NYPD1:
#         if Stations_MTA_and_NYPD1.count(i) > 1:
#             Stations_MTA_and_NYPD1.remove(i)
#     return Stations_MTA_and_NYPD1
# check(Stations_MTA_and_NYPD1)

In [70]:
turnstiles_df['DATE_TIME']= turnstiles_df.DATE+ " "+ turnstiles_df.TIME

In [93]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               ',
       'DATE_TIME'],
      dtype='object')

In [97]:

#remove empty spaces from columns 
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [98]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'DATE_TIME'],
      dtype='object')

In [71]:
turnstiles_df.TIME.value_counts()

08:00:00    50661
00:00:00    50660
04:00:00    50655
20:00:00    50616
12:00:00    50610
            ...
19:02:21        1
12:19:17        1
01:05:01        1
10:44:13        1
07:15:23        1
Name: TIME, Length: 20813, dtype: int64

In [72]:

# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
.ENTRIES.count().reset_index().sort_values("ENTRIES", ascending=False).head())

         C/A  UNIT       SCP         STATION            DATE_TIME  ENTRIES
513722  R504  R276  00-00-01  VERNON-JACKSON  09/16/2016 08:00:00        2
0       A002  R051  02-00-00           59 ST  08/27/2016 00:00:00        1
387264  R155  R116  01-00-03           50 ST  09/15/2016 20:00:00        1
387259  R155  R116  01-00-03           50 ST  09/15/2016 00:00:00        1
387260  R155  R116  01-00-03           50 ST  09/15/2016 04:00:00        1

In [73]:
# Get rid of the duplicate entry
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [74]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head()

         C/A  UNIT       SCP STATION            DATE_TIME  ENTRIES
0       A002  R051  02-00-00   59 ST  08/27/2016 00:00:00        1
387266  R155  R116  01-00-03   50 ST  09/16/2016 04:00:00        1
387260  R155  R116  01-00-03   50 ST  09/15/2016 04:00:00        1
387261  R155  R116  01-00-03   50 ST  09/15/2016 08:00:00        1
387262  R155  R116  01-00-03   50 ST  09/15/2016 12:00:00        1

In [75]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
                                                       .apply(lambda grp: grp.shift(1)))

<ipython-input-75-3a945374269e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily

In [82]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df.groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
.ENTRIES.count().reset_index().sort_values("ENTRIES", ascending=False).head())

         C/A  UNIT       SCP STATION            DATE_TIME  ENTRIES
0       A002  R051  02-00-00   59 ST  08/27/2016 00:00:00        1
387266  R155  R116  01-00-03   50 ST  09/16/2016 04:00:00        1
387260  R155  R116  01-00-03   50 ST  09/15/2016 04:00:00        1
387261  R155  R116  01-00-03   50 ST  09/15/2016 08:00:00        1
387262  R155  R116  01-00-03   50 ST  09/15/2016 12:00:00        1

In [84]:

# Get rid of the duplicate entry
turnstiles_df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True, ascending=False)
turnstiles_df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [86]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(turnstiles_df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head()

         C/A  UNIT       SCP STATION            DATE_TIME  ENTRIES
0       A002  R051  02-00-00   59 ST  08/27/2016 00:00:00        1
387266  R155  R116  01-00-03   50 ST  09/16/2016 04:00:00        1
387260  R155  R116  01-00-03   50 ST  09/15/2016 04:00:00        1
387261  R155  R116  01-00-03   50 ST  09/15/2016 08:00:00        1
387262  R155  R116  01-00-03   50 ST  09/15/2016 12:00:00        1

In [99]:
turnstiles_df[["PREV_DATE", "PREV_ENTRIES", "PREV_EXITS"]] = (turnstiles_df.groupby
(["C/A", "UNIT", "SCP", "STATION", "LINENAME"])
["DATE", "ENTRIES", "EXITS"].transform(lambda grp: grp.shift(1)))

<ipython-input-99-bfeb8f8b4919>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  turnstiles_df[["PREV_DATE", "PREV_ENTRIES", "PREV_EXITS"]] = (turnstiles_df.groupby

In [101]:
# Drop the rows for first date to red rid of N/A values
turnstiles_df.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [104]:

# Drop previous date as we don;t need it
turnstiles_df= turnstiles_df.drop(["DESC", "PREV_DATE"], axis=1, errors="ignore" )
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATE_TIME,PREV_ENTRIES,PREV_EXITS
192876,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,17:00:00,5554,271,09/16/2016 17:00:00,5554.0,271.0
192875,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,13:00:00,5554,271,09/16/2016 13:00:00,5554.0,271.0
192874,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,09:00:00,5554,271,09/16/2016 09:00:00,5554.0,271.0
192873,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,05:00:00,5554,271,09/16/2016 05:00:00,5554.0,271.0
192872,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,01:00:00,5554,271,09/16/2016 01:00:00,5554.0,271.0

In [105]:

turnstiles_df_daily = turnstiles_df.groupby(
["C/A", "UNIT", "SCP", "STATION", "DATE"]).ENTRIES.first().reset_index()
turnstiles_df_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  08/27/2016  5800121
1  A002  R051  02-00-00   59 ST  08/28/2016  5800798
2  A002  R051  02-00-00   59 ST  08/29/2016  5802336
3  A002  R051  02-00-00   59 ST  08/30/2016  5803875
4  A002  R051  02-00-00   59 ST  08/31/2016  5805383

In [106]:
# sanity check on entries to ensure that turnstiles are not counting backwards
#The query below should return an empty dataframe
turnstiles_df[turnstiles_df["ENTRIES"] < turnstiles_df["PREV_ENTRIES"]].head()
turnstiles_df[turnstiles_df["EXITS"] < turnstiles_df["PREV_EXITS"]].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATE_TIME,PREV_ENTRIES,PREV_EXITS
194868,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/08/2016,09:00:00,5554,262,09/08/2016 09:00:00,5554.0,271.0
194852,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/05/2016,17:00:00,5554,261,09/05/2016 17:00:00,5554.0,262.0
194838,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/03/2016,09:00:00,5554,259,09/03/2016 09:00:00,5554.0,261.0
193124,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2016,13:00:00,5554,257,08/31/2016 13:00:00,5554.0,259.0
192792,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,09/16/2016,17:00:00,2663475,379079,09/16/2016 17:00:00,2663575.0,379083.0

In [108]:

#There are turnstiles which can are counting backwards as seen above
# Let's see how many stations have this problem
(turnstiles_df[turnstiles_df["ENTRIES"] < turnstiles_df["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
     .size())

C/A    UNIT  SCP       STATION
A002   R051  02-00-00  59 ST            125
             02-00-01  59 ST            122
             02-03-00  59 ST            125
             02-03-01  59 ST             47
             02-03-02  59 ST            125
                                       ...
TRAM2  R469  00-00-00  RIT-ROOSEVELT    123
             00-00-01  RIT-ROOSEVELT    122
             00-03-00  RIT-ROOSEVELT    112
             00-03-01  RIT-ROOSEVELT    115
             00-05-00  RIT-ROOSEVELT     25
Length: 4297, dtype: int64

In [109]:

def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # make an assumption
        counter = -counter
    if counter > max_counter:
        #print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 10000, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = turnstiles_df.apply(get_daily_counts, axis=1, max_counter=10000)

In [111]:

def get_daily_counts_1(row, max_counter):
    counter = row["EXITS"] - row["PREV_EXITS"]
    if counter < 0:
        # make an assumption
        counter = -counter
    if counter > max_counter:
        #print(row["EXITS"], row["PREV_EXITS"])
        return 0
    return counter

# If counter is > 10000, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = turnstiles_df.apply(get_daily_counts_1, axis=1, max_counter=10000)

In [113]:
turnstiles_df['DAILY_ENTRIES'] = turnstiles_df.apply(get_daily_counts, axis=1, max_counter=10000)
turnstiles_df['DAILY_EXITS'] = turnstiles_df.apply(get_daily_counts_1, axis=1, max_counter=10000)


The last step in cleaning involves combining station and linename to create unique station as there is more than one station with the same name.

In [115]:
turnstiles_df['UNIQUE_STATION'] = turnstiles_df['STATION'] + '-' + turnstiles_df['LINENAME']